/.idea/**
/tasktracker-backend/.idea/**
/tasktracker-front/.idea/**
/tasktracker-email-sender/.idea/**
/tasktracker-scheduler/.idea/**

/tasktracker-backend/.mvn/**
/tasktracker-backend/mvnw
/tasktracker-backend/mvnw.cmd
/tasktracker-front/.mvn/**
/tasktracker-front/mvnw
/tasktracker-front/mvnw.cmd
/tasktracker-email-sender/.mvn/**
/tasktracker-email-sender/mvnw
/tasktracker-email-sender/mvnw.cmd
/tasktracker-scheduler/.mvn/**
/tasktracker-scheduler/mvnw
/tasktracker-scheduler/mvnw.cmd

**.iml

/tasktracker-front/target/**
/tasktracker-backend/target/**
/tasktracker-email-sender/target/**
/tasktracker-scheduler/target/**